<div id="completed-button-for-task-<%= task.id %>">

  <% completion = current_user.completed?(task) %>

  <%= button_to task_completions_path(task_id: task.id),
      method: completion ? :delete : :post,
      data: { turbo: true },
      class: "completed-btn" do %>

    <% if completion %>
      <i class="fa-solid fa-circle-check"></i>
    <% else %>
      <i class="fa-regular fa-circle-check"></i>
    <% end %>

  <% end %>

</div>